<FilesMatch "\.(avif|webp|jpg|jpeg|png|gif|svg)$">
    Header set Cache-Control "max-age=3100000, public"
</FilesMatch>

<FilesMatch "\.(css|js)$">
    Header set Cache-Control "max-age=700000, public"
</FilesMatch>


